#bizaccform {
    text-align: center;
    margin-top: 3%;
}
.passinput{
    width: 50%;
    height: 60px;
}
#viewaccounts{
    text-align: center;
    margin-top: 1%;
    margin-left: 1%;
    color: red;
}
#h4{
    margin-left: 5%;
}
#ads{
    text-align: center;
    margin-top: -3%;
    justify-content: center;
}