
#footerbody{
    background-color: rgba(31, 30, 30, 0.849);
    color: white;
   
}
.socialmedialinks{
    background-color: rgb(126, 185, 158);
    height: 30px;
    text-align: center;
    padding-top: 20px;
}