#headerbody {
    background-color: rgba(74, 135, 204, 0.514);
    height: auto;

}
.institution {
    color: red;
    justify-content: center;
    text-align: center;
}
.motto{
    color: rgb(167, 115, 48);
    font-style: italic;
    justify-content: center;
    text-align: center;
}
.elearningLabel{
    text-align: left;
    margin-left: 50px;
}

